body {
  background-color: #e2e8ef;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #B0C4DE;
  padding: 1em;
  text-align: center;
}

button {
    background-color: #B0C4DE;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    border-radius: 0.3em;
    border-width: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

input {
    min-width: 30em;
    margin-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

section {
    margin: 4em 1em;
}